* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    line-height: 1.5;
    z-index: 0;

}

p {
    font-weight: 500;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-bottom: 0px;
    text-align: justify;
}


h1 {
    font-size: 40px;
}

h2 {
    font-size: 10px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

a {
    text-decoration: none;
    outline: none;
    font-size: 10px;
    letter-spacing: 0.5px;
    font-weight: 500;
    text-decoration: none !important;
}

a:hover {
    color: unset !important;
}

body {
    margin-top: 125px !important;
    background-color: white !important;
}

button,
input,
optgroup,
select,
textarea {
    background: white;
    color: black;
}

img {
    height: auto;
    width: auto;
}

.breadcrumbredirectback {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: black;
}

.parentcontainercos .customcontainer {
    max-width: 1300px;
    margin: auto;
}

.parentcontainerwhi .customcontainer {
    max-width: 1300px;
    margin: auto;
}

.mobilehead {
    display: none;
}

.fa-search {
    color: black;
}

.fa-search:hover {
    color: #a21b18;
}


/* breadcrumbs  start*/ 

.breadcrumbs {
    padding: 24px 0px;
}

.breadcrumbsdata{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
}

.breadcrumbsNotactive{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
}

.breadcrumbsactive{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #A21B18;
}


/* breadcrumbs  end*/ 



.flexinput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputboxflex {
    width: 49%;
}




/* Tab */

@media screen and (max-width: 1500px) and (min-width: 1000px) {
    body {
        margin-top: 113px !important;
    }

}


/* Tab div 768 to 1300 start*/

@media screen and (max-width: 1299px) and (min-width: 768px) {


    .parentcontainerwhi .customcontainer {
        padding: 0 20px;
    }

    .parentcontainercos .customcontainer {
        padding: 0 20px;
    }


}


/* Tab div 768 to 1300 end*/



/*small div 367 */

@media only screen and (max-width: 767px) {

    body {
        margin-top: 68px !important;
    }

    .parentcontainerwhi .customcontainer {
        padding: 0 20px;
    }

    .parentcontainercos .customcontainer {
        padding: 0 20px;
    }

    .deckstophead {
        display: none;
    }

    .mobilehead {
        display: block;
    }


    .breadcrumbredirectback {
        font-size: 11px !important;
    }

    /* for faq font size*/
    button.accordion-button {
        font-size: 14px !important;
    }

    .breadcrumbsdata{
        font-size: 15px !important;
    }

    .breadcrumbsNotactive{
        font-size: 15px;
    }
    
    .breadcrumbsactive{
        font-size: 15px;
    }



}

/* small div 367*/