
  /* footer  start*/
  
  .parentcontainerwhi.footer {
    background: #fff9e0;
    padding: 30px 0 10px 0;
    border-top: 1px solid red;
}
.footermain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footermaincol1 {
    width: 50%;
}

.footermaincol2 {
    width: 25%;
}
.footermaincol3 {
    width: 25%;
}
.footerlogopara p {
    font-size: 18px;
    font-weight: 900;
    margin-top: 30px;
}
.footergetdirect {
    margin-top: 20px;
}
.footersocialbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footersocial {
    margin-top: 20px;
}
.footersocialboximg {
    margin-right: 10px;
}
.linkbox h2 {
    font-size: 18px;
    color: #b01d23;
}
.linkfoolist a {
    color: #000000;
    font-size: 16px;
}
.linkfootdiv {
    margin-top: 20px;
}
.linkfoolist {
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.exmargin {
    margin-top: 80px;
}

.footermainbelw1 {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.footermainbelw2 {
    width: 15%;
}
.footermainbelw3 {
    width: 25%;
    display: flex;
    align-items: end;
}
.parentcontainerwhi.footer.footerbelow {
    padding: 0 0 10px 0;
    border-top: none;
}
.footermainbelw1 .linkfoolist {
    justify-content: center;
}
img.fooimg {
    margin-right: 8px;
    width: 35px;
    box-shadow: 0pt 1pt 4pt rgb(0 0 0 / 18%);
    border-radius: 50%;
}
.parentcontainerwhi.copyright {
    background: #a21b18;
    padding: 10px 0;
}
.copyrightmain {
    display: flex;
}
.copyrightmaincol1 {
    width: 70%;
}
.copyrightmaincol2 {
    width: 30%;
    display: flex;
    justify-content: end;
}
.copyrightmaincol1 h3 {
    font-size: 14px;
    color: white;
    margin: 0;
}
.copyrightmaincol2 p {
    font-size: 14px;
    color: white;
    margin: 0;
}
.footerlogo img {
    width: 70%;
}
.footersocialboximg img {
    width: 65px;
}
.exmarginlink {
    margin-top: 20px;
}
/* .linkfoolist.fomail a {
  font-size: 11px;
  font-weight: 700;
} */

/* footer  end*/




@media screen and (max-width: 1299px) and (min-width: 768px) {


 

  }


/* Tab div 768 to 1300 end*/




/*small div 767 */

@media only screen and (max-width: 767px) {

/* footer for mob*/
  
.footerlogopara p {
  font-size: 9px;
  margin-top: 10px;
}
.linkbox h2 {
  font-size: 10px;
}
.footerlogo img {
  width: 100%;
}
.footermaincol1 {
  width: 60%;
}
.footermaincol2 {
  width: 15%;
}
.footergetdirect img {
  width: 100px;
}
.footersocialboximg img {
  width: 30px;
}
.footersocialboximg {
  margin-right: 0px;
}
.linkfoolist a {
  font-size: 8px;
  line-height: 1;
}
.linkfootdiv {
  margin-top: 8px;
}
.footersocial {
  margin-top: 10px;
}
.footergetdirect {
  margin-top: 10px;
}

img.fooimg {
  width: 13px;
}
.mobilesub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.footermainbelw1 {
  width: 100%;
}
.parentcontainerwhi.footer.footerbelow {
  padding: 10px 0px;
  background-color: #A21B18;
}

.footerbelow .linkbox h2 {
  color: #ffffff;
}

.footerbelow  .linkfoolist a {
  color: #ffffff;
}
.parentcontainerwhi.copyright {
  background: #fff9e0;
}
.copyrightmaincol1 h3 {
  font-size: 7px;
  color: black;
}
.copyrightmaincol2 p {
  font-size: 7px;
  color: black;
}
.parentcontainerwhi.footer {
  padding: 25px 0 30px 0;
}

/* footer for mob*/




}

/* small div 767*/


/* more small div 320  330  340*/

@media only screen and (max-width: 340px) {




}

/* more small div 320  330  340*/