
  /* footer  start*/
  
  .parentcontainerwhi.footer {
    background: #ffe468;
    padding: 30px 0 10px 0;
    border-top: 1px solid red;
}
.footermain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footermaincol1 {
    width: 50%;
}

.footermaincol2 {
    width: 25%;
}
.footermaincol3 {
    width: 25%;
}
.footerlogopara p {
    font-size: 18px;
    font-weight: 900;
    margin-top: 30px;
}
.footergetdirect {
    margin-top: 20px;
}
.footersocialbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footersocial {
    margin-top: 20px;
}
.footersocialboximg {
    margin-right: 10px;
}
.linkbox h2 {
    font-size: 18px;
    color: #b01d23;
}
.linkfoolist a {
    color: #000000;
    font-size: 16px;
}
.linkfootdiv {
    margin-top: 20px;
}
.linkfoolist {
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.exmargin {
    margin-top: 80px;
}

.footermainbelw1 {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.footermainbelw2 {
    width: 25%;
}
.footermainbelw3 {
    width: 25%;
    display: flex;
    align-items: end;
}
.awardandimgbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.awardandimg img {
  width: 80px;
}
.parentcontainerwhi.footer.footerbelow {
    padding: 0 0 10px 0;
    border-top: none;
}
.footermainbelw1 .linkfoolist {
    justify-content: center;
}
img.fooimg {
    margin-right: 8px;
    width: 35px;
    box-shadow: 0pt 1pt 4pt rgb(0 0 0 / 18%);
    border-radius: 50%;
}
.parentcontainerwhi.copyright {
    background: #F37428;
    padding: 10px 0;
}
.copyrightmain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.copyrightmaincol1 {
    width: 100%;
}
.copyrightmaincol2 {
    width: 30%;
    display: flex;
    justify-content: end;
}
.copyrightmaincol1 h3 {
    font-size: 14px;
    color: white;
    margin: 0;
}
.copyrightmaincol2 p {
    font-size: 14px;
    color: white;
    margin: 0;
}
.footerlogo img {
    width: 70%;
}
.footersocialboximg img {
    width: 65px;
}
.exmarginlink {
    margin-top: 20px;
}

.poweredbyhref {
  font-size: 14px;
  color: white;
}


/*New letter*/

.newslettercont{
  /* display: none; */
}

.newslettercont input[type="email"] {
  display: inline-block;
  width: 80%;
  padding: 18px 36px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 45px;
  margin-top: 18px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.06);
}

.newslettercont input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 3;
}

.newslettercont .bt {
  margin-left: -160px;
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  padding: 5px 35px;
  border-radius: 10px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  background-color: #a21b18;
  color: #fff;
}

.newsletterHead{
  font-size: 18px;
  font-weight: 900;
  margin-top: 30px;
}
.newslettersubsmessage{
  font-size: 18px;
  font-weight: 900;
}

/*New letter*/


/* footer  end*/




@media screen and (max-width: 1299px) and (min-width: 768px) {


 

  }


/* Tab div 768 to 1300 end*/




/*small div 767 */

@media only screen and (max-width: 767px) {

/* footer for mob*/
  
.footerlogopara p {
  font-size: 9px;
  margin-top: 10px;
}
.linkbox h2 {
  font-size: 10px;
}
.footerlogo img {
  width: 100%;
}
.footermaincol1 {
  width: 60%;
}
.footermaincol2 {
  width: 15%;
}
.footergetdirect img {
  width: 100px;
}
.footersocialboximg img {
  width: 30px;
}
.footersocialboximg {
  margin-right: 0px;
}
.linkfoolist a {
  font-size: 8px;
  line-height: 1;
}
.linkfootdiv {
  margin-top: 8px;
}
.footersocial {
  margin-top: 10px;
}
.footergetdirect {
  margin-top: 10px;
}

img.fooimg {
  width: 13px;
}
.mobilesub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.footermainbelw1 {
  width: 100%;
}
.parentcontainerwhi.footer.footerbelow {
  padding: 10px 0px;
  background-color: #F37428;
}

.footerbelow .linkbox h2 {
  color: #ffffff;
}

.footerbelow  .linkfoolist a {
  color: #ffffff;
}
.parentcontainerwhi.copyright {
  background: #ffe468;
}
.copyrightmaincol1 h3 {
  font-size: 7px;
  color: black;
}
.copyrightmaincol2 p {
  font-size: 7px;
  color: black;
}
.parentcontainerwhi.footer {
  padding: 25px 0 30px 0;
}


.poweredbyhref {
  font-size: 7px;
  color: #040404;
}
/* footer for mob*/

.awardandimg img {
  width: 40px;
}



}

/* small div 767*/


/* more small div 320  330  340*/

@media only screen and (max-width: 340px) {

  .linkfoolist a {
    font-size: 7px;
  }


}

/* more small div 320  330  340*/