

/* main CSS*/


.mainheadingbandiv {
    height: auto;
    background: #F7D651;
}
.mainheadingbandiv img {
        width: 100%;
 }


.page_header {
    margin-top: 30px;
}

.Pg_title {
    font-size: 22px;
    margin-bottom: 20px;

}

span.Pg_sub_title {
    color: #A21B18;
    font-weight: 600;
}

.blog_page {

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}


.sectionheading h2 {
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 0;
    font-family: 'Poppins';
}

.sectionheading {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}


span.headborder {
    border: 2px solid #f96c24;
    width: 80%;
    margin-top: 10px;
}

.mainbanner img {
    width: 100%;
}

/* main CSS*/




/* blog */

.blog_sec {
    display: flex;
    padding: 25px 0 25px 0;
}


.main_img img {
    width: 400px;
    height: 237px;
    object-fit: contain;
    border: 1px solid #0000000d;
}


.content {
    padding: 5px 0px 5px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-between; */
}

.content h2 {
    font-size: 25px;
    font-weight: 500;
}

.content p {
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
}

span.read_more a {
    font-size: 15px;
    font-weight: 500;
    color: #a21b18;
    /* position: absolute;
    bottom: -470px; */
}

/* blog */




@media only screen and (max-width: 767px) {

    .parentcontainerwhi .customcontainer {
        padding: 0 20px;
    }


    .blog_sec {
        display: flex;
        padding: 25px 0 25px 0;
        flex-direction: column;
        align-items: center;
    }

    .content {
        padding: 20px 0px 0px 0px;
    }

    .btm_txt {
        padding-top: 20px;
    }

    .sectionheading h2 {
        font-size: 20px;
    }

    .content h2 {
        font-size: 20px;
    }
    .Pg_title {
        font-size: 14px;
        margin-bottom: 4px;
    }


}

