-- MariaDB dump 10.19  Distrib 10.4.22-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: abmh_db
-- ------------------------------------------------------
-- Server version	10.4.22-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `abmh_color`
--

DROP TABLE IF EXISTS `abmh_color`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `abmh_color` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `colorname` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `abmh_color`
--

LOCK TABLES `abmh_color` WRITE;
/*!40000 ALTER TABLE `abmh_color` DISABLE KEYS */;
INSERT INTO `abmh_color` VALUES (1,'red'),(2,'yellow'),(3,'orange'),(4,'brown');
/*!40000 ALTER TABLE `abmh_color` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `abmh_doctors`
--

DROP TABLE IF EXISTS `abmh_doctors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `abmh_doctors` (
  `id` int(250) NOT NULL AUTO_INCREMENT,
  `DrFullName` varchar(50) DEFAULT NULL,
  `DoctorFName` varchar(50) DEFAULT NULL,
  `DoctorLName` varchar(50) DEFAULT NULL,
  `DoctorNameSlug` varchar(255) DEFAULT NULL,
  `DoctorExperience` varchar(255) DEFAULT NULL,
  `DoctorProfileImage` varchar(255) DEFAULT NULL,
  `DoctorSpecialies` text DEFAULT NULL,
  `DoctorSpecialityList` varchar(255) DEFAULT NULL,
  `DoctorDesignation` varchar(100) DEFAULT NULL,
  `DoctoAboutme` text DEFAULT NULL,
  `DoctorFellowshipsAssociations` text DEFAULT NULL,
  `DoctorQualification` text DEFAULT NULL,
  `DoctorIPDOPDtime` text DEFAULT NULL,
  `DoctorExperienceField` text DEFAULT NULL,
  `DoctorLanguagesSpoken` text DEFAULT NULL,
  `DoctorMemberships` text DEFAULT NULL,
  `DoctorCertifications` text DEFAULT NULL,
  `DoctorPublications` text DEFAULT NULL,
  `SpecialtyID` varchar(255) DEFAULT '0',
  `is_doctorBookable` tinyint(1) NOT NULL DEFAULT 1,
  `isactive` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=244 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `abmh_doctors`
--

LOCK TABLES `abmh_doctors` WRITE;
/*!40000 ALTER TABLE `abmh_doctors` DISABLE KEYS */;
/*!40000 ALTER TABLE `abmh_doctors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `abmh_specialty`
--

DROP TABLE IF EXISTS `abmh_specialty`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `abmh_specialty` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `specialty_name` varchar(100) DEFAULT NULL,
  `specialty_slug` varchar(100) DEFAULT NULL,
  `is_specialityactive` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=152 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `abmh_specialty`
--

LOCK TABLES `abmh_specialty` WRITE;
/*!40000 ALTER TABLE `abmh_specialty` DISABLE KEYS */;
/*!40000 ALTER TABLE `abmh_specialty` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blog`
--

DROP TABLE IF EXISTS `blog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `blog` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `blogbanner` varchar(255) DEFAULT NULL,
  `blogname` text DEFAULT NULL,
  `blogslug` text DEFAULT NULL,
  `blogtop_para` text DEFAULT NULL,
  `blogBigData` text DEFAULT NULL,
  `blogcategory` varchar(255) DEFAULT NULL,
  `blogDate` datetime DEFAULT NULL,
  `blogreadable_date` varchar(100) DEFAULT NULL,
  `blogwriter` varchar(255) DEFAULT NULL,
  `isactive` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blog`
--

LOCK TABLES `blog` WRITE;
/*!40000 ALTER TABLE `blog` DISABLE KEYS */;
/*!40000 ALTER TABLE `blog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctorfilterspeciality`
--

DROP TABLE IF EXISTS `doctorfilterspeciality`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `doctorfilterspeciality` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `DoctorTableID` int(100) DEFAULT NULL,
  `DoctorSpeciaTableID` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=498 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctorfilterspeciality`
--

LOCK TABLES `doctorfilterspeciality` WRITE;
/*!40000 ALTER TABLE `doctorfilterspeciality` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctorfilterspeciality` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-01-08 11:16:39
