

/* ! specialties page  start*/



/* breadcrumbs  start*/

.breadcrumbs {
    padding: 24px 0px;
}


.breadcrumbsdata {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}


.breadcrumbsactive {
    color: #A21B18;
}


/* breadcrumbs  end*/



/* common head banner  start*/
.mainheadingbandiv {
    height: auto;
    background: #F7D651;
}
.mainheadingbandiv img {
    width: 100%;
}

/* common head banner  end*/

.specsingleparn {
    padding: 40px 0;
}

.spetileh1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    color: #A21B18;
    margin-bottom: 30px;
}

.spectitleimgbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.spectitleimgbox1 {
    width: 40%;
}

.spectitleimgbox2 {
    width: 60%;
}

p.specilpara {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.spectitleimgbox1 img {
    width: 90%;
    border-radius: 20px;
    box-shadow: 0pt 1pt 4pt rgb(0 0 0 / 32%);
}

.spetileh2gr {
    font-size: 30px;
}

/* GRY----------- */
.Specialtiesheadgr {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}


.spetileh1gr {
    font-size: 30px !important;
    color: #000000;
    font-weight: 500;
    margin: 0;
    font-family: Poppins;
}

.headbordergr {
    border: 2px solid #f96c24;
    width: 80%;
    margin-top: 10px;
}

.specipgGRY {
    background: #F2F2F2;
    padding: 30px 0;
}

.spectitlegrcont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.spectitlegrcont1 {
    width: 100%;
}

.spectitlegrcont2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.testimgboxcont {
    width: 25%;
    padding: 20px;
}

.testimgboxcot1 img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.testimgtitle {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

.specsingleDoclist{
    padding: 30px 0;
}


/* our team slider*/

.ourteamslidchilbosingle {
    width: 30% !important;
}

.ourteamslidchilbosingle {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.ourteamslidebox {
    box-shadow: 0pt 1pt 4pt rgb(0 0 0 / 17%);
    border-radius: 20px;
    padding: 10px;
    position: relative;
    background: white;
}

.ourteambox1single {
    padding: 10px;
    width: 100%;
}

.ourteamimg img {
    border-radius: 50%;
    object-fit: contain;
    margin: auto;
    width: 160px !important;
    height: 160px !important;
    display: block !important;
}

.ourteamname {
    margin-top: 13px;
}

.ourteamnamesing h2 {
    font-size: 18px;
    color: #000000;
    text-align: center;
}

.ourteamspec h2 {
    font-size: 16px;
    color: #707070;
    text-align: center;
    margin-top: 0px;
}

.ourteamexpi {
    border-top: 2px solid #901412;
    margin-top: 15px;
    padding-top: 10px;
}

.ourteamexpi h2 {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

.ourteambox2 {
    margin-top: 25px;
}

.ourteambox2flex {
    display: flex;
    align-items: center;
}

.bookappoteam {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin: auto;
    display: block;
    background-color: #901412;
    padding: 5px 12px;
    border-radius: 0px 0px 14px 14px;
    width: 100%;
}

.smallimg img {
    width: 100% !important;
}

.mycentr{
    justify-content: center;
}
.ourteamslidchilbosingle {
    margin-top: 10px !important;
}


/* our team slider*/








/*! specialties page  end*/








/* Tab div 768 to 1300 start*/

@media screen and (max-width: 1299px) and (min-width: 768px) {



    /*! specialties  start*/


  
    /*! specialties end*/



}


/* Tab div 768 to 1300 end*/








/*small div 367 */

@media only screen and (max-width: 767px) {



    /*! specialties start*/

    .commonheadinghead h2 {
        font-size: 15px;
    }



  /* for slider -----*/


    .custom-slide {
        flex: 0 0 calc(100% / 3);
    }

    .ourteamslidebox {
        margin-right: 0;
    }

    .ourteambox1single {
        padding: 2px;
    }

    .ourteamimg img {
        width: 45px !important;
        height: 45px !important;
    }

    .ourteamname {
        margin-top: 5px;
    }


    .ourteambox2 {
        margin-top: 0px;
    }

    .bookappoteam {
        border-radius: 0px 0px 5px 5px;
    }

    .ourteamnamesing h2 {
        font-size: 9px;
    }
    .ourteamspec h2 {
        font-size: 7px;
    }
    .ourteamexpi h2 {
        font-size: 8px;
    }
    .bookappoteam {
        font-size: 8px;
    }

    .ourteamslidebox {
        padding: 4px;
    }
    .ourteamslidebox {
        border-radius: 5px;
    }
    .customslidebth img {
        width: 17px;
        margin-top: -60px;
    }
    .customslidebth img {
        width: 17px;
        margin-top: -60px;
    }
    /* for slider -----*/



    .spectitleimgbox1 {
        width: 100%;
    }
    .spectitleimgbox1 img {
        width: 100%;
        border-radius: 10px;
    }
    .spectitleimgbox2 {
        width: 100%;
        margin-top: 20px;
    }

    .spectitlegrcont1 {
        width: 100%;
    }
    .spectitlegrcont2 {
        width: 100%;
    }
    .testimgboxcot1 img {
        height: 100px;
        border-radius: 5px;
    }
    .testimgtitle {
        font-size: 10px;
    }
    .spetileh1 {
        font-size: 15px;
    }
    .spetileh1gr {
        font-size: 15px !important;
    }
    .testimgboxcont {
        padding: 5px;
        width: 50%;
    }
    .ourteamslidchilbosingle {
        padding: 0px !important;
    }

    .ourteamslidebox {
        height: 100%;
    }
    .specilpara {
        font-size: 14px !important;
    }
    .spectitleimgbox li {
        font-size: 14px !important;
    }
    .spetileh2gr {
        font-size: 16px;
        margin-bottom: 0;
    }
    .specsingleparn {
        padding: 0;
    }


    /*! specialties end*/

}

/* small div 367*/