
/* ! Insurance & TPAs  start*/ 



/* breadcrumbs  start*/ 

.breadcrumbs {
    padding: 24px 0px;
}


.breadcrumbsdata {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}


.breadcrumbsactive{
    color: #A21B18;
}


/* breadcrumbs  end*/ 



/* common head banner  start*/ 
.mainheadingbandiv {
    height: auto;
    background: #F7D651;
}
.mainheadingbandiv img {
    width: 100%;
}
/* common head banner  end*/ 


/* common border heading  start*/ 

.commonheadingCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

.commonheadinghead {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
}

.commonheadinghead h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 0;
    font-family: 'Poppins';
}

.Commheadborder {
    border: 2px solid #f96c24;
    width: 80%;
    margin-top: 10px;
}


/* common border heading  end*/ 



/* main CSS*/


.Pg_title {
    font-size: 22px;
    margin-bottom: 20px;

}

span.Pg_sub_title {
    color: #A21B18;
    font-weight: 600;
}

.insurance_list {
    padding-top: 30px;
    padding-bottom: 50px;
}


.sectionheading h2 {
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 0;
    font-family: 'Poppins';
}

.sectionheading {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}


span.headborder {
    border: 2px solid #f96c24;
    width: 80%;
    margin-top: 10px;
}

.tpa_sec {
    background: #ffe468;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tpa_sec_para {
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.row.img_padding {
    padding-top: 10px;
    padding-bottom: 10px;
}
   
.card {
    background: #fff;
    border-radius: 2px;
    margin: 10px;
    position: relative;
    width: 310px;
    border-radius: 10px;
    width: 23% !important;
  }
   
  .card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  span.img-text {
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
}

/* img hover*/

.img_size {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .5s ease-in-out;  
        padding: 10px 70px;
        opacity: 0.3;
    }

    .img_size:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
      opacity: 1;
    }
   

    /* img hover*/

/* main CSS*/







/* FAQ for wellness  start */ 



.wellnessFAQpart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

.wellnessFAQhead {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
}

.wellnessFAQpart h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 0;
    font-family: 'Poppins';
}
.wellnessFAQ {
    padding: 40px 0;
}
.wellfaqCol{
    margin-top: 40px;
}

.wellfaqcontainer .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #a21b18;
    font-size: 20px;
    font-weight: 500;
}

.faqdata p {
    font-size: 14px !important;
    font-weight: 500;
    margin-top: 10px;
}



/* FAQ for wellness  end*/ 



/*! Insurance & TPAs  end*/











/* Tab div 768 to 1300 start*/

@media screen and (max-width: 1299px) and (min-width: 768px) {


/*! Insurance & TPAs  start*/

.img_size {
    padding: 10px;
}
.card {
    width: 22% !important;
}
.img-text {
    font-size: 11px !important;
}

/*! Insurance & TPAs  end*/



  }


/* Tab div 768 to 1300 end*/








/*small div 367 */

@media only screen and (max-width: 767px) {
  

/*! Insurance & TPAs  start*/

.commonheadinghead h2 {
    font-size: 15px;
}

.card {
    width: 95% !important;
}
.row.img_padding {
    padding: 10px !important;
}

.tpa_sec_para {
    padding: 15px;
}
.sectionheading h2 {
    font-size: 18px;
}
.tpa_sec_para {
    font-size: 14px;
}

/*! Insurance & TPAs  end*/



}

/* small div 367*/













































