
/* ! specialties page  start*/ 



/* common head banner  start*/ 
.mainheadingbandiv {
    height: auto;
    background: #F7D651;
}
.mainheadingbandiv img {
    width: 100%;
}
/* common head banner  end*/ 


/* common border heading  start*/ 


/* static specialty ------------*/ 
.commonheadingCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

.commonheadinghead {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
}

.commonheadinghead h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 0;
    font-family: 'Poppins';
}

.Commheadborder {
    border: 2px solid #f96c24;
    width: 80%;
    margin-top: 10px;
}


/* common border heading  end*/ 


.specialParentcont {
    padding: 40px 0;
}


.specialmaincont {
    margin-top: 30px;
    border-radius: 10px;
}

.specboxes {
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #00000014;
}

.speboxloopcon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.speboxhead h2 {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    font-family: Poppins;
    padding-left: 15px;
}
.spaccont {
    width: 33%;
    padding: 15px;
}
.speforwhitbgsp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0pt 0pt 16pt rgb(0 0 0 / 7%);
}
.spefColiconContsp img {
    width: 100px;
    margin: auto;
    display: block;
}
.speforwhitbgCol1sp h2 {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    color: #000000;
}



/* TAB specialty ------------*/

/* Style the tab */
.tab {
    overflow: hidden;
    text-align: center;
}

.tab button {
    background-color: #ccc;
    color: white;
    margin: auto;
    padding: 8px 18px;
    box-shadow: 0pt 3pt 2pt rgb(0 0 0 / 22%);
    cursor: pointer;
    margin-right: 5px;
    outline: none;
    border: navajowhite;
    margin-bottom: 10px;
}
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active1 {
    background-color: #A21B18;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
  }

  .redcolor{
    background-color: #A21B18 !important;
  }
  .orangecolor{
    background-color: #F37428 !important;
  }



/* search specialty ------------*/

#myInputsp {
    background: #EEEEEE;
    border: #ffdead;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
}

.checkboxcontsp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #ffe468;
    border-radius: 10px;
}


#newbysir .spefColiconContspsearch img {
    width: 100%;
    margin: auto;
    display: block;
    border-radius: 10px;
}
#newbysir .spefColiconContspsearch {
    width: 100%;
}
.spaccontsearch {
    padding: 5px;
    height: 100%;
}

#newbysir #colorFormsp {
    margin-top: 20px;
}

.speforwhitbgsearch {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}

.speforwhitbgCol1spsearch h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    color: black;
}


#newbysir .speforwhitbgsearch:hover .speforwhitbgCol1spsearch h2 {
    color: #a21b18;
}

.speforwhitbgCol1spsearch h2:hover {
    color: #a21b18;
}


.myhrefsp {
    width: 25%;
    padding: 10px;
}

.diparmenthideORkeywords{
    display: none;
}

#myInputsp:focus {
    outline: 1px solid red;
}

#myDropdownsp {
    padding-top: 30px;
}

.specflex{
    position: relative;
}

.specflex .fa-search {
    position: absolute;
    right: 15px;
    font-size: 25px;
    top: 20%;
}


/*! specialties page  end*/








/* Tab div 768 to 1300 start*/

@media screen and (max-width: 1299px) and (min-width: 768px) {



/*! specialties  start*/

.speforwhitbgCol1spsearch h2 {
    font-size: 13px;
}
.speforwhitbgCol1sp h2 {
    font-size: 13px;
}


/*! specialties end*/



  }


/* Tab div 768 to 1300 end*/








/*small div 367 */

@media only screen and (max-width: 767px) {
  
 
/*! specialties start*/

.commonheadinghead h2 {
    font-size: 15px;
}


.myhrefsp {
    width: 50%;
    padding: 5px;
}
.spaccontsearch {
    padding: 0;
}
.speforwhitbgCol1spsearch h2 {
    font-size: 10px;
}
.spefColiconContspsearch img {
    width: 60px;
}

#newbysir .speforwhitbgsearch {
    padding: 3px;
    justify-content: start;
}
.checkboxcontsp {
    margin-top: 20px;
}


.specboxes {
    padding: 20px 0;
}
.spaccont {
    width: 50%;
}
.speforwhitbgCol1sp h2 {
    font-size: 12px;
}
.spefColiconContsp img {
    width: 60px;
}
.spaccont {
    padding: 5px;
}

.speforwhitbgsp {
    padding: 10px;
    min-height: 150px;
}

.speboxhead h2 {
    font-size: 17px;
    margin: 10px;
}

.tab button {
    padding: 5px 8px;
    font-size: 14px;
}
#newbysir .spefColiconContspsearch img {
    margin-top: 3px;
}
#myInputsp {
    font-size: 12px;
    border-radius: 0px;
}


/*! specialties end*/

}

/* small div 367*/













































