
/* ! International   start*/ 



/* breadcrumbs  start*/ 

.breadcrumbs {
    padding: 24px 0px;
}


.breadcrumbsdata {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}


.breadcrumbsactive{
    color: #A21B18;
}


/* breadcrumbs  end*/ 



/* common head banner  start*/ 
.mainheadingbandiv {
    height: auto;
    background: #F7D651;
}
.mainheadingbandiv img {
        width: 100%;
}
/* common head banner  end*/ 


.abmhinternanGrybg {
    background-image: url("/abmh-intern-img/internan-testimonials-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 200px;
}

.inernanparbox {
    background: white;
    padding: 40px 30px;
    border-radius: 10px;
    margin-top: -200px;
    box-shadow: 0pt 1pt 24pt rgb(0 0 0 / 10%);
    margin-bottom: 40px;
}

.interpagehead {
    font-size: 30px;
    font-weight: 500;
    color: #a21b18;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.inernanparboxpara p {
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}
.styleforA {
    font-size: 35px;
    line-height: 0;
}

.abinernanmaincon {
    padding: 40px 0;
}

.internatipartbof {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.internatisheadbof {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
}

.internatibofbalc {
    font-size: 30px;
    font-weight: 500;
    font-family: Poppins;
    color: #000;
}

.internatiborderbof {
    border: 2px solid #f96c24;
    width: 80%;
    margin-top: 5px;
}

.internationaliconloopbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.interboxicon {
    width: 25%;
    margin-top: 30px;
}

.interboxicon img {
    width: 180px;
}

.inntericonhead {
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    font-size: 20px;
    color: black;
}

.interboxicon img {
    width: 180px;
    margin: auto;
    display: block;
}

.internaticonboxforslid {
    padding: 40px 0;
}




.interntestislid {
    border-radius: 20px;
    margin: auto;
}
.interntestislidChil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.interntestislidChilcol1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interntestislidChilcol2 {
    width: 50%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.interntestislidChilcol2Para {
    font-size: 18px;
    margin-top: 50px;
}
.interourworkname {
    margin-top: 90px;
}
.interourworkname h2 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}
.intertestispace {
    border: 1px solid #c27b6e;
    width: 25%;
}
.interourworkspec {
    margin-top: 7px;
}
.interourworkspec h2 {
    font-size: 13px;
    font-weight: 400;
}
.interntestislidChilcol2:after, .interntestislidChilcol2:before {
    content: "";
    background-image: url("/abmh-intern-img/right-quote-sign.png");
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    display: block;
    position: absolute;
}
.interntestislidChilcol2:after {
    bottom: 16px;
    right: 60px;
    transform: scaleX(-1);
}

.interntestislidChilcol2:before {
    top: 10px;
}

.ourworkbox1 {
    width: 100%;
    height: 100%;
}
.interslidevideo {
    width: 100% !important;
    height: 100%;
}
.intertestvideo {
    height: 100%;
}


.abmhintertestimo{
    margin-top: 40px;
}


#carouselExampleIndicatorsintern {
    box-shadow: 0pt 1pt 4pt rgb(0 0 0 / 7%);
}

#carouselExampleIndicatorsintern .carousel-control-next-icon {
    background-color: #a21b18;
    border-radius: 50%;
    background-size: 20px 20px;
}

#carouselExampleIndicatorsintern .carousel-control-prev-icon {
    background-color: #a21b18;
    border-radius: 50%;
    background-size: 20px 20px;
}

#carouselExampleIndicatorsintern .carousel-indicators [data-bs-target] {
    height: 5px;
    background-color: #d1a1a1;
}

.intern-con-form .form-control {
    border: 1px solid #901412;
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.intern_form_submit {
    background: #901412;
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    margin-top: 25px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
}
.internationalform {
    width: 60%;
}

/*! International   end*/











/* Tab div 768 to 1300 start*/

@media screen and (max-width: 1299px) and (min-width: 768px) {


/*! International   start*/





/*! International   end*/



  }


/* Tab div 768 to 1300 end*/








/*small div 367 */

@media only screen and (max-width: 767px) {
  

/*! International   start*/


.commonheadinghead h2 {
    font-size: 15px;
}


.interboxicon {
    width: 50%;
}
.interboxicon img {
    width: 140px;
}
.interpagehead {
    font-size: 15px;
}
.inernanparboxpara p {
    font-size: 14px;
}
.inntericonhead {
    font-size: 13px;
}

.internatibofbalc {
    font-size: 15px;
}

.interntestislidChilcol1 {
    width: 100%;
}
.interntestislidChilcol2 {
    width: 100%;
}
.interntestislidChilcol2Para {
    font-size: 14px;
    margin-top: 20px;
}
.interourworkname {
    margin-top: 20px;
}
.interntestislidChilcol2:after, .interntestislidChilcol2:before {
   display: none;
}
.interourworkname h2 {
    font-size: 15px;

}
.abmhintertestimo {
    margin-top: 20px;
}
.internationalform {
    width: 100%;
}
.internationalfo-head{
    font-size: 13px;
}

/*! International   end*/




}

/* small div 367*/












































