
/* ! hospital tour page  start*/ 







/* common head banner  start*/ 
.mainheadingbandiv {
    height: auto;
    background: #F7D651;
}
.mainheadingbandiv img {
    width: 100%;
}
/* common head banner  end*/ 


/* common border heading  start*/ 

.commonheadingCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

.commonheadinghead {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
}

.commonheadinghead h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 0;
    font-family: 'Poppins';
}

.Commheadborder {
    border: 2px solid #f96c24;
    width: 80%;
    margin-top: 10px;
}


/* common border heading  end*/ 





/* Hospirtal tour  start*/ 

.Hospirtaltour {
    padding: 40px 0;
}
iframe.turevidiframe {
    width: 100%;
    height: 500px;
    margin-top: 30px;
    border: 1px solid #ede3e361;
}


/* Hospirtal tour  end*/ 




/* Hospirtal testimonials  start*/ 

.withtestBG {
    background-image: url("/virtualtour/testimonials-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.Hospirtaltourtestim {
    padding: 50px 0;
}
.taltourtestimslidcont {
    margin-top: 40px;
}

.taltourtestimslidcont .myovefts {
    padding: 10px;
    width: 50%;
}
.taltourtestimslidcont .whychochinewlbo {
    height: 100%;
}

.taltourtestimslidcont .whychoslideboxts {
    box-shadow: 0pt 1pt 4pt rgb(0 0 0 / 17%);
    border-radius: 10px;
    padding: 23px 39px;
    margin-right: 25px;
    position: relative;
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.taltourtestimslidcont .whychobox1ts {
    padding: 5px 1px 9px 1px;
}


.taltourtestimslidcont .whychoimgts img {
    width: 120px !important;
    height: 120px !important;
    object-fit: contain;
    border-radius: 50%;
    margin: auto;
}

.taltourtestimslidcont .whychonamets h2 {
    font-size: 20px;
    color: black;
    display: inline;
    border-bottom: 1px solid  #a21b18;
    padding-bottom: 3px;
}
.taltourtestimslidcont .whychonameforts h2 {
    font-size: 17px;
    color: black;
    font-weight: 300;
    display: inline;
}
.taltourtestimslidcont .whychonameforts {
    margin-top: 10px;
}

.taltourtestimslidcont .whychospects h2 {
    font-size: 18px;
    line-height: 1.5;
    color: black;
    font-weight: 500;
    /* width: 450px; */
}

.taltourtestimslidcont .whychoimgbox2ts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.taltourtestimslidcont .whychocombtn {
    border: navajowhite;
    background-color: #fff9e0;
    padding: 5px 15px;
    border-radius: 20px;
}
.whychocombtn a {
    display: flex;
    align-items: center;
}
.tetisource {
    color: #a21b18;
    font-weight: 600;
}
.whychocombtn a {
    color: black;
    font-size: 15px;
}
span.specicon {
    width: 20px;
    display: inline-block;
    margin-left: 10px;
}
span.specicon img {
    width: 100%;
}
.whychoimgbox2col1ts {
    width: 30%;
}
.whychoimgbox2col2ts {
    width: 70%;
    display: flex;
    align-items: center;
}



 /* Style the carousel */
 .new-slider-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.new-slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.new-slidet {
    flex: 0 0 calc(100% / 2);
}


/* Style the dots */
.new-slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.new-slider-dot {
    width: 12px;
    height: 12px;
    background-color: #888;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.new-slider-dot.activeFAQ {
    background-color: #333;
}
.new-slider-dots{
    visibility: hidden;
}
#new-nextButton {
    background: none;
    border: none;
}
#new-prevButton {
    background: none;
    border: none;
}

.new-sliderbtn img {
width: 30px;

}
.new-sliderbtn {
display: flex;
justify-content: end;
width: 100%;
margin-bottom: 40px;
}


/* for mobile slider*/ 
.newmobiletist-cont {
    background: white;
    padding: 10px;
    border-radius: 5px;
}
.newtesti-Para {
    font-size: 14px;
}
.newtesti-name {
    font-size: 18px;
    margin-top: 10px;
}
.newtesti-Parawhychoimgts img {
    width: 45px;
    margin-top: 10px;
}
h2.newtesti-cont {
    font-size: 13px;
}

#carouselExampleIndicatornewtisti .carousel-control-prev-icon {
    background-color: #a21b18;
    border-radius: 50%;
    background-size: 20px 20px;
}
#carouselExampleIndicatornewtisti .carousel-control-next-icon {
    background-color: #a21b18;
    border-radius: 50%;
    background-size: 20px 20px;
}


#carouselfordeckstophead .carousel-control-prev-icon {
    background-color: #a21b18;
    border-radius: 50%;
    background-size: 20px 20px;
}
#carouselfordeckstophead .carousel-control-next-icon {
    background-color: #a21b18;
    border-radius: 50%;
    background-size: 20px 20px;
}


.taltourtestimslidcont .carousel-control-next, .taltourtestimslidcont .carousel-control-prev {
    width: 5%;
}

.taltourtestimslidcont .carousel-control-prev {
    right: 40px !important;
    left: unset;
}

.taltourtestimslidcont span.carousel-control-next-icon, .taltourtestimslidcont span.carousel-control-prev-icon {
    bottom: -30px !important;
    position: absolute;
}


.testinewflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



/* Hospirtal testimonials   end*/ 



/*! hospital tour page  end*/











/* Tab div 768 to 1300 start*/

@media screen and (max-width: 1299px) and (min-width: 768px) {


/*! hospital tour page  start*/

.lablebox1 h2 {
    font-size: 15px;
}
.labchocombtn a {
    font-size: 14px;
}
.lableseemore h2 {
    font-size: 15px;
}

.homwcareparacol1 {
    width: 100%;
    padding-right: 0px;
}
.homwcareparacol2 {
    width: 100%;
    margin-top: 30px;
}



/*! hospital tour page  end*/



  }


/* Tab div 768 to 1300 end*/








/*small div 367 */

@media only screen and (max-width: 767px) {
  

/*! hospital tour page  start*/

.commonheadinghead h2 {
    font-size: 15px;
}


iframe.turevidiframe {
    height: 180px;
}

.whychospects h2 {
    width: 230px;
    font-size: 15px;
}

.whychoslideboxts {
    padding: 20px;
}
.whychoimgbox2col1ts {
    width: 100%;
}
.whychoimgbox2col2ts {
    width: 100%;
}
.new-slide {
    flex: 0 0 calc(100% / 1);
}

.lablebox1 h2 {
    font-size: 16px;
}
.lableseemore h2 {
    font-size: 14px;
}
.labchocombtn a {
    font-size: 13px;
}


.whychoimgts img {
    width: 80px !important;
    height: 80px !important;
}


/*! hospital tour page  end*/



}

/* small div 367*/













































