
/* ! wellness page  start*/ 







/* common head banner  start*/ 
.mainheadingbandiv {
    height: auto;
    background: #F7D651;
}

.mainheadingbandiv img {
    width: 100%;
}
/* common head banner  end*/ 


/* Wellbeing Packages  start*/ 


/* FAQ for wellness  start */ 


.biomedicalcontainer .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #a21b18;
    font-size: 20px;
    font-weight: 500;
}

.newfdata p {
    font-size: 14px !important;
    font-weight: 500;
    margin-top: 10px;
}

.bioimg img{
    width: 100%;
}


/* FAQ for wellness  end*/ 



/*! wellness page  end*/











/* Tab div 768 to 1300 start*/

@media screen and (max-width: 1299px) and (min-width: 768px) {






  }


/* Tab div 768 to 1300 end*/








/*small div 367 */

@media only screen and (max-width: 767px) {
  
  
/*! wellness page  start*/




/*! wellness page  end*/



}

/* small div 367*/












































