/* ! about us pg   start*/



/* breadcrumbs  start*/

.breadcrumbs {
    padding: 24px 0px;
}


.breadcrumbsdata {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}


.breadcrumbsactive {
    color: #A21B18;
}


/* breadcrumbs  end*/



/* common head banner  start*/
.mainheadingbandiv {
    height: auto;
    background: #F7D651;
}

.mainheadingbandiv img {
    width: 100%;
}

/* common head banner  end*/



.awarsliderbox {
    background: #ffffff;
    padding: 40px 20px;
    border-radius: 10px;
}

.awarandaccimg {
    width: 200px;
    margin: auto;
    display: block;
}

.awadandacchead {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.awadandaccpara {
    font-size: 16px;
    text-align: center;
    width: 80%;
    margin: 10px auto;
}

.awarslider .carousel-control-prev-icon img {
    width: 100% !important;
}

.awarslider .carousel-control-next-icon img {
    width: 100% !important;
}

.awarslider .carousel-indicators [data-bs-target] {
    background-color: #f37428;
}

.awarsliderbox {
    background-image: url('/commonimages/accredetionbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.AchiveandAcrre {
    padding: 40px 0;
}

.AchiveandAcrrepara p {
    font-size: 17px;
    font-weight: 400;
}

.Specialtiespartbof {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.Specialtiesheadbof {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
}

.oursepperbof {
    font-size: 30px !important;
    color: black;
    font-weight: 500;
    font-family: 'Poppins';
}

span.headborderbof {
    border: 2px solid #f96c24;
    width: 80%;
    margin-top: 10px;
}

.accredreadmorbtn {
    border: unset;
    background: #A21B18;
    padding: 2px 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin: auto !important;
    display: block;
}

.abmhAwardSlideimg {
    display: block;
    margin: auto;
}

.abmhAwardSlidebox {
    padding: 20px;
    box-shadow: 0pt 1pt 9pt rgb(0 0 0 / 14%);
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.abmhAwardSlide .carousel-control-prev-icon img {
    width: 100% !important;
}

.abmhAwardSlide .carousel-control-next-icon img {
    width: 100% !important;
}

.abmhAwardSlidehead {
    padding: 20px 10px;
    text-align: center;
    background: #000000db;
    color: white;
    width: 100%;
    right: 0;
    border-radius: 0 0 10px 10px;
}

/*! about us pg   end*/











/* Tab div 768 to 1300 start*/

@media screen and (max-width: 1299px) and (min-width: 768px) {



    /*! about us pg   start*/


    /*! about us pg   end*/



}


/* Tab div 768 to 1300 end*/








/*small div 367 */

@media only screen and (max-width: 767px) {


    /*! about us pg   start*/


    .commonheadinghead h2 {
        font-size: 15px;
    }

    .oursepperbof {
        font-size: 15px !important;
    }

    .AchiveandAcrrepara p {
        font-size: 14px;
    }

    .awadandacchead {
        font-size: 15px;
    }

    .awadandaccpara {
        font-size: 14px;
    }

    .awarandaccimg {
        width: 100px;
    }
    .abmhAwardSlideimg {
        width: 100%;
    }
    .abmhAwardSlidehead{
        font-size: 14px;
    }

    .abmhAwardSlidebox {
        margin: 2px;
        padding: 5px;
    }

    .AchiveandAcrre {
        padding: 20px 0;
    }

    /*! about us pg   end*/




}

/* small div 367*/