
/* ! inter / obser pg   start*/ 



/* common head banner  start*/ 
.mainheadingbandiv {
    height: auto;
    background: #F7D651;
}
.mainheadingbandiv img {
        width: 100%;
  }
/* common head banner  end*/ 


.inttpa_sec_para {
    padding: 30px;
}

.interspar {
    margin-top: 5px;
    font-size: 18px;
    overflow-wrap: break-word;
}


.intertime h2 {
    font-size: 25px;
}
.intertable {
    margin-top: 30px;
    margin-bottom: 30px;
}

.pserdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.iconspheading {
    font-size: 18px;
}

.spiconflex2 {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.psicnimg {
    width: 40px;
}

/*! inter / obser pg   end*/











/* Tab div 768 to 1300 start*/

@media screen and (max-width: 1299px) and (min-width: 768px) {


/*! inter / obser pg   start*/




/*! inter / obser pg   end*/



  }


/* Tab div 768 to 1300 end*/








/*small div 367 */

@media only screen and (max-width: 767px) {
  


/*! inter / obser pg   start*/


.commonheadinghead h2 {
    font-size: 15px;
}

.inttpa_sec_para {
    padding: 10px;
}
.interspar {
    font-size: 14px;    
}
.intertime h2 {
    font-size: 15px;
}

.iconspheading {
    font-size: 14px;
}
.psicnimg {
    width: 25px;
    margin-right: 5px;
}


/*! inter / obser pg   end*/




}

/* small div 367*/












































